/* General */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}


/* Typography */

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 25px;
}

.text-highlighted {
    background-color: yellow;
}


/* Site header */

header {
    height: 100px;
    background-color: #639EF8;
    background-image: url('../img/pattern.png');
    background-size: 400px;
}

header img {
    width: 200px;
    margin-top: 40px;
}


/* Page title */

.page-title {
    padding: 20px 0px;
}

main .page-title p {
    color: #808080;
    margin-top: 10px;
}

main .page-title a {
    text-decoration: none;
    color: #29A4DF;
}

#page-title-date {
    font-size: 12px;
}


/* Article images */

main .article-images figure figcaption {
    font-size: 12px;
}


/* Blog article */

article {
    margin: 30px 0;
}

main article ul {
    margin: 30px 0;
}


/* Table */

main article table {
    border-collapse: collapse;
    margin-bottom: 30px;
}

main article table thead {
    background-color: #51A7E0;
    color: #fff;
}

main article table thead th{
    text-align: left;
    min-width: 250px;
}

table .highlighted-row {
    background-color: #BBE4F0;
}


/* Featured contents */

main .featured-contents h2 {
    color: #838383;
}

main .featured-contents .featured-image-card {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    color: #fff;
    background-size: cover;
    background-position: center;
    padding: 15px;
}

main .featured-contents .featured-image-card#first-card {
    background-image: url('../img/monitor.jpg');
}

main .featured-contents .featured-image-card#second-card {
    background-image: url('../img/graph.jpg');
}